name: matrix

on:
  workflow_dispatch:

jobs:
  matrix-job:
    name: ${{matrix.os}}-${{matrix.node-version}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        node-version: [18.x, 20.x, 21.x]
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      - name: setup node
        uses: actions/setup-node@v4
        with: ${{ matrix.node-version }}
      - name: perform some test
        run: echo running test on ${{matrix.os}} with ${{matrix.node-version}}