name: environment

on:
  workflow_dispatch:
    inputs:
      target-env:
        type: environment
        default: staging

jobs:
  echo:
    runs-on: ubuntu-latest
    environment: ${{inputs.target-env}}
    env:
      my-env-value: ${{vars.MY_ENV_VALUE || 'default-value'}}
    steps:
      - name: echho env
        run: echo "${{inputs.target-env}}"
      - name: echo var
        run: echo "${{env.my-env-value}}"
