name: matrix

on:
  workflow_dispatch:

jobs:
  matrix-job:
    name: ${{matrix.os}}-${{matrix.node-version}}
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x, 21.x]
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        include:
          - os: ubuntu
            node-version: 16.x
    steps:
      - name: setup node
        uses: actions/setup-node@v4
        with: 
          node-version: ${{ matrix.node-version }}
      - name: perform some test
        run: echo running test on ${{matrix.os}} with ${{matrix.node-version}}